*, p, .btn, .lead  {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4 {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    letter-spacing: 7px;
} 

.borderless {
    border: 0;
}

.bg-transparent {
    background: transparent;
}

.dropdown-menu {
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.1);
}

.icon-array {
    display: flex;
}

.fw-wrap {
    flex-wrap: wrap;
}

@media (max-width: 576px) {
    .fw-wrap-sm {
        flex-wrap: wrap;
    }
}

.btn {
    transition: all .2s ease-in-out;
}

.btn:hover {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    transition: all .2s ease-in-out
}

.text-small {
    font-size: .5em;
}
/* navbar */
#navbar {
    transition: all .3s ease-in-out;
}

#navbar.alt {
    transform: translate(0,-135px);
    transition: all .35s ease-in-out;
}

.drop-profile-area {
    min-height: 4em;
}

.drop-profile-area> img {
    border-radius: 100%;
    background: #636363;
    height: 3em;
}

.drop-profile-area-text {
    height: 3em;
    margin-top: .5em;
}
/* banner */
#banner {
    background-image: url(./../images/banner.jpg);
    min-height: 100vh;
    background-size: cover;
    display: grid;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

#banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    animation: fade 1s;
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}

#banner .container {
    position: relative;
    z-index: 2;
    display: grid;
    align-self: center;
}

.btn-see-more {
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translate(-50%,0);
    z-index: 1;
    background: rgba(255, 255, 255, 0.25);
    color: white;
    padding: 10px;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all .3s ease-out;
    animation: btn-scroll 1.5s;
    }
    .btn-see-more:hover {
        background: white;
        color: black;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
        transition: all .3s ease-out;
    }

@keyframes btn-scroll {
    0% {
        transform: translate(-50%,130px);
    }

    66.67% {
        transform: translate(-50%,130px);
    }

    100% {
        transform: translate(-50%,0);
    }
}
/* header */
.header {
    border-radius: 0;
}

/* intro */
.intro-icon {
    font-size: 45px;
    padding: 5px;
}

/* more-intro */
.more-intro-card {
    margin: 1rem;
    transition: all .3s ease-out;
}
.more-intro-card:hover {
    transform: translate(0,-5px);
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.1);
    transition: all .3s ease-out;
}

.more-intro-img {
    width: 30%;
    padding-bottom: 1rem;
}

/* footer */
.sub-descrp {
    opacity: 0.4;
}

.footer-a {
    opacity: 0.4;
}

.footer-a:hover {
    opacity: 1;
}


/* form */
.bg {
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.form-bg {
    height: 100vh;
    display: grid;
    position: relative;
    justify-content: space-around;
}

.form-card {
    width: 90vw;
    max-width: 400px;
    height: auto;
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.25);
    padding:30px;
    margin: 20px;
    display: grid;
    align-self: center;
    position: relative;
}

.form-card-lg {
    width: 90vw;
    max-width: 500px;
    height: auto;
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.25);
    padding:30px;
    margin: 20px;
    display: grid;
    align-self: center;
    position: relative;
}

.form-icon {
    line-height: 1.9em;
    margin-right: .5em;
    font-size: 1.5em;
}

/* general page */
.general-title {
    position: relative;
}

.general-title:after {
    content: "";
    position: absolute;
    background: #20c997;
    height: .15em;
    width: 1.25em;
    left: 0;
    bottom: -.5em;
    z-index: 1;
}

.general-bg {
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.1);
}

